avro-python3==1.10.2
beautifulsoup4==4.12.3
blinker==1.8.2
bs4==0.0.2
cassandra-driver==3.29.1
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
confluent-kafka==2.4.0
cssselect==1.2.0
fastavro==1.9.4
Flask==3.0.3
geomet==0.2.1.post1
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.2.2
markdown2==2.4.13
MarkupSafe==2.1.5
pyquery==2.0.0
readtime==3.0.0
requests==2.32.3
six==1.16.0
soupsieve==2.5
urllib3==2.2.1
Werkzeug==3.0.3
